* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    background-color: black;
}

.google {
    background: #FF0000;
    background: linear-gradient(to right, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

  